{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="display-4 mb-4">{{ page.title }}</h1>
            {% if page.intro %}
                <div class="lead mb-5">{{ page.intro|richtext }}</div>
            {% endif %}
            
            <div class="accordion" id="faqAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1">
                            How do I create an account?
                        </button>
                    </h2>
                    <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Click the "Sign Up" button in the top navigation and fill out the registration form. You'll receive a confirmation email to activate your account.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2">
                            Are the games free to play?
                        </button>
                    </h2>
                    <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Most of our games offer free demos or trial versions. Full versions may require purchase, but we always clearly indicate pricing on each game page.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3">
                            How do I share my creations?
                        </button>
                    </h2>
                    <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Visit the Community section and click "Upload" to share screenshots or videos of your builds. Make sure to follow our community guidelines.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4">
                            What payment methods do you accept?
                        </button>
                    </h2>
                    <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            We accept all major credit cards, PayPal, and digital wallets. All transactions are secure and encrypted.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5>Still Need Help?</h5>
                </div>
                <div class="card-body">
                    <p>Can't find what you're looking for? Our support team is here to help!</p>
                    <div class="d-grid">
                        <a href="/support/contact/" class="btn btn-primary">Contact Support</a>
                    </div>
                </div>
            </div>
            
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Popular Topics</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none">Account Issues</a></li>
                        <li><a href="#" class="text-decoration-none">Game Downloads</a></li>
                        <li><a href="#" class="text-decoration-none">Payment Problems</a></li>
                        <li><a href="#" class="text-decoration-none">Technical Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}