{% load wagtailcore_tags wagtailimages_tags %}

<div class="row align-items-center my-3">
    <div class="col-lg-6 {% if forloop.counter|divisibleby:2 %}order-lg-2{% endif %}">
        <h2>{{ value.title }}</h2>
        <div class="lead">
            {{ value.description|richtext }}
        </div>
    </div>
    {% if value.image %}
    <div class="col-lg-6 {% if forloop.counter|divisibleby:2 %}order-lg-1{% endif %}">
        {% image value.image fill-600x400 class="img-fluid rounded" %}
    </div>
    {% endif %}
</div>